:root {
  --color-primary: #B1D8B9;
  --color-primary-rgb: 177, 216, 185;
  --color-primary-subtle: color-mix(in srgb, var(--color-primary) 20%, var(--color-background));
  --color-accent: #FB6401;
  --color-background: #FFFFFF;
  --color-alt-background: #F0EEE9;
  --color-alt-background-rgb: 240, 238, 233;
  --color-text: #3A3A3A;
}
